[submodule ".dotbot"]
	path = .dotbot
	url = https://gitee.com/LBWyes/dotbot
	ignore = dirty
[submodule "zsh/themes/powerlevel10k"]
	path = zsh/themes/powerlevel10k
	url = https://gitee.com/LBWyes/powerlevel10k
[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/plugins/zsh-syntax-highlighting
	url = https://gitee.com/LBWyes/zsh-syntax-highlighting
[submodule "zsh/plugins/zsh-completions"]
	path = zsh/plugins/zsh-completions
	url = https://gitee.com/LBWyes/zsh-completions
